@charset "UTF-8";

@media screen and (max-width: 768px) {
    #imc{
        width: 100vw;
        position: relative;
    }
    
    div#form > h1{
        font-size: 4em;

    }
    section#imc > div#form{
        
        width: 100vh;
    }
    body{
        background-color:#290d2d
    }
    .campo > input[type=button]{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 250%);
        width: 200px;
    }
    #containerimc{
        margin-bottom: 200px;
        
    }
}

@media screen and (min-width: 768px) {
    #imc{
        width: 950px;

    }
   
    section#imc > div#form{
        float: right;
        width: 50%;
    }
    body{
        background-color: aqua;
    }
    div#form > h1{
        font-size: 2em;

    }
    
    div#form > p{
        font-size: 1.2emem;
    }

}