@charset "UTF-8";

@media screen and (max-width: 768px) {
    #imc{
        width: 100vw;
        position: relative;
    }
    
    div#form > h1{
        font-size: 4em;

    }
    div#form > p{
        font-size: 1.3em;

    }
    section#imc > div#form{
        
        width: 100vh;
    }
    body{
        background-color:#2d0d0d
    }
    .campo > input[type=button]{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 250%);
        width: 200px;
    }
    #containerimc{
        margin-bottom: 200px;
        
    }
    input{
        width: 200px;
        font-size: 1.2em;
    }

    
}

@media screen and (min-width: 768px) {
    #imc{
        width: 950px;

    }
   
    section#imc > div#form{
        float: right;
        width: 50%;
    }
    
    
    
    div#form > p{
        font-size: 1.2em;
    }
    #reset{
        width: 200px;
        margin-left: 180px;
        
    }
    #reset:hover{
        background-color: rgb(92, 177, 149);
    }

}